* {
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }

.fourth-container {
    height: 100vh;
    background-color: rgb(29, 29, 32);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content4 {
    position: relative;
    width: 90%;
    height: 90%;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: space-evenly; */
}

.circle4 {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 10px solid transparent;
    border-image: conic-gradient(
        #f5d76e 0deg,
        #f39c12 90deg,
        #e67e22 180deg,
        #d35400 270deg,
        #f5d76e 360deg
      )
      1;
    border-radius: 100%;
    background-color: transparent;
  }
  
  .content4-top-left {
    top: 0;
    left: 0;
    border-bottom: 0;
    border-right: 0;
  }
  
  .content4-bottom-right {
    bottom: 0;
    right: 0;
    border-top: 0;
    border-left: 0;
  }

  .contact-h2 {
    margin: 50px;
  }

  .contact-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .contact-p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }

  .contact-icon {
    width: 36px;
    padding-right: 10px;
  }

  .github-a, .linkedin-a {
    color: whitesmoke;
    display: flex;
    margin: 5px;
    text-decoration: none;
  }

  .footer {
    position: absolute;
    bottom: 10px;
  }