* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.third-container {
  height: 100vh;
  background-color: rgb(29, 29, 32);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content3 {
  position: relative;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.circle3 {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 10px solid transparent;
  border-image: conic-gradient(
      #f5d76e 0deg,
      #f39c12 90deg,
      #e67e22 180deg,
      #d35400 270deg,
      #f5d76e 360deg
    )
    1;
  border-radius: 100%;
  background-color: transparent;
}

.content3-top-left {
  top: 0;
  left: 0;
  border-bottom: 0;
  border-right: 0;
}

.content3-bottom-right {
  bottom: 0;
  right: 0;
  border-top: 0;
  border-left: 0;
}

.projects-h2 {
  margin: 50px;
}

.project-container {
  height: 90%;
  /* background-color: rgb(186, 110, 110); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.projects-p {
  margin-bottom: 25px;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  padding-inline-start: 0;
  /* max-height: calc(90% - 75px);
  overflow-y: scroll; */
}

.project-list-li {
  list-style-type: none;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 20vw;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project-span {
  margin-bottom: 5px;
  color: black;
}

.visiteProject {
  position: relative;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 auto;
}

.visiteProject::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(
    to bottom right,
    #f5d76e,
    #f39c12,
    #e67e22,
    #d35400,
    #f5d76e
  );
  transition: width 0.2s ease-in;
}

.visiteProject:hover::after {
  width: 100%;
}

.project-img {
  width: 85%;
  height: 60%;
  margin: 0 auto;
}

.right-arrow {
  width: 24px;
  margin-left: 5px;
}

@media screen and (max-width: 1196px) {
  .project-list-li {
    padding: 0;
  }

  .projects-list {
    gap: 10px 0;
  }
}

@media screen and (max-width: 1400px) {
  .project-list-li {
    width: 25vw;
  }
}

@media screen and (max-width: 992px) {
  .project-list-li {
    width: 30vw;
  }
}

@media screen and (max-width: 776px) {
  .project-list-li {
    width: 30vw;
  }
}

@media screen and (max-width: 600px) {
  .project-list-li {
    width: 35vw;
  }
}

@media screen and (max-width: 500px) {
  .project-list-li {
    width: 38vw;
  }
}